header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefbf8;
  padding: 30vh 13vw;
}

body {
  margin: 0%;
}
a:hover{
  color: rgb(40, 40, 40);
}
.logo:hover{
  color: rgb(147, 147, 147) !important
}
.nav-item > a:hover {
  color: rgb(147, 147, 147) !important
}

button{
  position:relative;
}

.header-text{
  font-size: 90px;
  font-family: "Playfair Display", serif;
  font-weight: 550;
  color:rgb(38, 38, 38);
  line-height: 10vh;
  display:flex;
  flex-direction: row;    
  -webkit-animation: fadeIn 3s;
  text-align: center;
}
@keyframes fadeIn{
  0% {opacity: 0;}
  100%{opacity: 1;}
}
.header-line{
  object-fit: contain;
  padding-left: 2vw;
}
.header-subtext {
  font-size: 25px;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  line-height: 4vh;
  word-spacing: 1px;
  width: 38vw;
  padding-top:4vh;
  padding-bottom: 20vh;
  text-align: center;
  opacity: 0;
  -webkit-animation: fading ease-in 1s;
  animation: fading ease-in 1s; 
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@-webkit-keyframes fading {
  from {
      opacity: 0;
  }
  to {
       opacity: 1;   
  }
}
@-moz-keyframes fading {
  from {
      opacity: 0;
  }
  to {
       opacity: 1;   
  }
}

@keyframes fading {
  from {
      opacity: 0;
  }
  to {
       opacity: 1;   
  }
}

.arrow:before{
  position: absolute;
  left: 50%
}

.arrow{
  width: 60px;
  height: 60px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 4px #608d73 solid;
  border-bottom: 4px #608d73 solid;
}
  
.arrow:before{
  content: '';
  width: 25px;
  height: 25px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px #6a6a6a solid;
  border-bottom: 2px #6a6a6a solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

section{ 
  display: flex;
}
.section a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(45, 58, 45);

}
.project-img{
  max-width: 45vw;
  border-radius: 10px;
}
#pho{
  max-width: 32vw;
}
#padthai{
  max-width: 36vw;
}
.card{
  width: 30vw;
  height: 37vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  color: rgb(59, 59, 59);
}

.card-tags{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding-bottom: 8vh;
}


.projects{
  display: flex;
  flex-direction: column;
  background: rgb(250, 250, 250);
  padding: 8vh 13vw;
}
.project1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: rgb(250, 250, 250);
  gap: 4vw;
  padding: 8vh 0; 
}
.project-text{
  line-height: 3vh; 
  padding-bottom: 6vh;
}

@media (max-width: 1200px){
  .projects{
    padding:  8vh 10vw;
  }
  .card-tags{
    padding-bottom: 5vh;
  }
  .card{
    height:20vh;
  }
}
@media (max-width: 1080px){
  #padthai{
    display:none;
  }
  header{
    padding: 23vh 13vw 15vh 13vw;

  }
  .header-subtext{
    font-size: 20px;
    width: 50vw;
    padding-bottom: 15vh;
    line-height: 3vh;
  }
  .header-text{
    font-size: 90px;
  }
  .card2{
    left:5vw;
  }
  .card-tags{
    padding-bottom: 2vh;
  }
  .projects{
    padding:  8vh 7vw;
  }
  .project-text{
    line-height: 2vh; 
     padding-bottom: 3svh;
}
  .project1{
    padding: 6vh 0;
  }
  .card{
    width: 35vw;
  }
 
}
@media (max-width: 900px){
  .card{
    width:100%;
  }
  .header-text{
    width: 50vw;
  }
  .projects{
    align-items: center;
    gap:  10vh;
  }
  .project1{
    flex-direction: column;
    justify-content: space-between;
    gap:2vw;
    padding: 0;
    height: 54vh;
    width: 70vw;
    }
  .project-img{
    max-width: 71vw;
  }
}

@media (max-width: 768px){
  .scroll{
    display: none;
  }
  .card{
    height:20vh;
    width: -webkit-fill-available; 
    order: 2;
    padding: 0px;
    position:relative;
    right:0;

  }
  .card2{
    height:11vh;
    width: -webkit-fill-available; 
    order: 2;
    padding: 30px;
    position:relative;
    left:0;
  }
  .projects{
    align-items: center;
  }
  .project1{
    height: 57vh;
  }
  .project2{
    flex-direction: column;
    gap:0vw;
    padding-top: 5vh;
    width: 80vw;
  }
  #pho{
    max-width: 100%;
  }
  p{
    font-size: 14px;
  }
  .header-text{
    font-size: 70px;
  }
  .header-subtext{
    font-size: 18px;
    width: 50vw;
  }
}
@media (max-width: 610px){
  .header-text{
    font-size: 60px;
    line-height: 10vh;
  }
  .header-subtext{
    width: 53vw;
    padding-top: 4vh;
  }

}
@media (max-width: 430px){
  .card{
    padding: 22px;
    justify-content: space-around;
    height: 16vh; 
  }
  .main-header{
    padding: 17vh 15vw;
  }
  .header-text{
    font-size: 60px;
    line-height: 8vh;
  }
  .header-subtext{
    width: 55vw;
    padding-top: 4vh;
  }
  .project1{
    height: 46vh;
  }
  .card{
    padding: 0; 
  }
  .card-tags{
    gap: 3vw;
  }
}